body {
    background-color: rgb(243, 244, 245);
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0.5em;
}
h3 {
    margin: 0;
    margin-bottom: 0.5em;
    letter-spacing: 0.1px;
    line-height: 1.5em;
}
p {
    font-size: 18px;
    color: #797979;
    margin: 0;
    margin-bottom: 0.5em;
    letter-spacing: 0.1px;
    line-height: 1.5em;
}
a {
    text-decoration: none;
    color: #1686fe;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.flex {
    display: flex;
}
.fill {
    flex: auto;
}
.nowrap {
    white-space: nowrap;
}
.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.g-hidden {
    display: none;
}
.g-img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.g-button-primary {
    background-color: #1686fe;
    color: white !important;
    padding: 12px 32px !important;
    border-radius: 24px;
}
.g-button-primary:hover {
    background-color: #3c9aff;
}
.g-logo {
    color: black;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
}
.g-logo img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    margin-right: 8px;
}
.g-main {
    display: flex;
    max-width: 1624px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.g-main p {
    max-width: 300px;
    color: #585858;
}
.g-main h1 {
    max-width: 300px;
    font-weight: 900;
}
.g-main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 10px 0 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.g-box {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1000px;
    background-color: white;
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
}
.g-box_content {
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
}
.g-box_text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.g-box_content p {
    max-width: 300px;
}
.g-box a {
    display: flex;
    margin-top: 1em;
    font-size: 16px;
}
.g-box_img {
    max-height: 600px;
    position: relative;
    align-self: center;
    width: 100%;
    height: 300px;
}
a svg {
    width: 24px;
    height: 24px;
    padding-left: 8px;
}
footer {
    background-color: rgb(51, 48, 48);
}
footer h2 {
    color: white;
}

footer p,
footer a {
    color: rgb(185, 185, 185);
}
footer a:hover {
    color: rgb(219, 219, 219);
}
footer h3 {
    color: rgb(219, 219, 219);
}
.g-footer-wrapper {
    margin: 0 auto;
    display: grid;
    gap: 1em;
    padding: 60px;
    max-width: 1024px;
}

.g-footer-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}
.g-footer-wrapper a {
    margin-top: 8px;
}
.g-footer-end p {
    max-width: 1024px;
    padding: 30px 60px;
    margin: 0 auto;
    border-top: 1px solid #aaa;
}
.g-footer-end p {
    font-size: 14px;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 34px;
    }
    p {
        font-size: 20px;
    }
    .g-box {
        flex-direction: row;
    }
    .g-main {
        flex-direction: row;
        height: 70vh;
    }
    .g-box a {
        font-size: 20px;
    }

    .g-box_content,
    .g-box_text {
        padding: 60px 40px;
        flex: 1;
    }
    .g-box_img {
        width: 50%;
        height: 400px;
    }
    .g-dir-reverse {
        flex-direction: row-reverse;
    }
    .g-footer-wrapper {
        grid-template-columns: 2fr 1fr 1fr;
    }
}

header {
    width: 100%;
    border-bottom: 1px solid #bbb;
    position: sticky;
    top: 0px;
    z-index: 100;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(240, 240, 240, 0.8);
}
.g-header-container {
    display: flex;
    padding: 16px;
    max-width: 1024px;
    margin: 0 auto;
}
.g-nav-toggle_button {
    -webkit-appearance: none;
    border: 1px solid #bbb;
    background: white;
    border-radius: 8px;
    padding: 4px;
    width: 36px;
    display: flex;
    justify-content: center;
}
.g-nav-toggle_button:focus {
    background-color: #eee;
}
.g-nav-toggle_button svg {
    height: 16px;
    width: 16px;
}

.g-nav li,
.g-nav div,
.g-nav-toggle {
    display: flex;
    align-items: center;
}
.g-nav-toggle {
    display: none;
}
.g-nav a {
    padding: 0 20px;
    color: #5d5d5d;
}
.g-contact-us {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .g-nav-small {
        position: fixed;
        top: 52px;
        left: 0;
        right: 0;
        background-color: rgba(240, 240, 240, 0.98);
        z-index: 100;
        display: block;
        padding: 20px;
        opacity: 0;
        transform: translateY(-10px);
        transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
    }
    .g-nav-visible {
        opacity: 1;
        transform: translateY(0px);
        transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
        border-bottom: 1px solid #aaa;
    }
    .g-nav-small ul {
        display: block;
    }
    .g-nav-small a {
        padding: 8px;
        padding-right: 200px;
    }
    .g-nav-toggle {
        display: flex;
    }
    .g-contact-us {
        margin-top: 1em;
    }
    .g-header-container {
        padding: 8px 16px;
    }
}